div.output-container {
  max-width: 62rem;
  width: 90vw;
}

div.location-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 3rem;

  .location-icon {
    width: 3rem;
    height: 3rem;
  }
}

div.data-wrapper {
  margin-top: 3rem;
  padding: 2rem 3rem;
  border-radius: 6px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 10px;
}

div.header {
  padding: 1rem;
  border-bottom: 1px solid #ababab;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". day time";
  justify-content: space-between;

  p.day {
    justify-self: center;
    grid-area: day;
  }

  p.local-time {
    justify-self: end;
    grid-area: time;
  }
}

div.content {
  padding-top: 2rem;

  display: grid;
  row-gap: 2rem;
}

div.main-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;

  p.last-update {
    font-size: 1.4rem;
    opacity: 0.5;
    transform: translateY(-2rem);
  }

  div.flex-group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  img.weather-icon {
    width: 7rem;
    height: 7rem;
  }

  p.weather-temperature {
    font-weight: 400;
    font-size: 4rem;
    margin-left: 1rem;
  }

  p.weather-description {
    font-size: 2rem;
  }

  div.real-feel,
  div.sunset,
  div.sunrise {
    display: flex;
    justify-content: space-between;
  }
}

div.additional-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;

  div.detail {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ababab;
  }

  div.uv {
    grid-area: 1 / 1 / 2 / 2;
  }

  div.wind-speed {
    grid-area: 2 / 1 / 3 / 2;
  }

  div.clouds {
    grid-area: 3 / 1 / 4 / 2;
  }

  div.visibility {
    grid-area: 4 / 1 / 5 / 2;
    border: none;
  }

  div.rain {
    grid-area: 1 / 2 / 2 / 3;
  }

  div.humidity {
    grid-area: 2 / 2 / 3 / 3;
  }

  div.wind-direction {
    grid-area: 3 / 2 / 4 / 3;
  }

  div.pressure {
    grid-area: 4 / 2 / 5 / 3;
    border: none;
  }
}

@media screen and (max-width: 500px) {
  div.main-data {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  div.additional-data {
    grid-template-columns: 1fr;
    row-gap: 1rem;

    div.uv {
      grid-area: 1 / 1 / 2 / 2;
    }

    div.wind-speed {
      grid-area: 2 / 1 / 3 / 2;
    }

    div.clouds {
      grid-area: 3 / 1 / 4 / 2;
    }

    div.visibility {
      grid-area: 4 / 1 / 5 / 2;
      border-bottom: 1px solid #ababab;
    }

    div.rain {
      grid-area: 5 / 1 / 6 / 2;
    }

    div.humidity {
      grid-area: 6 / 1 / 7 / 2;
    }

    div.wind-direction {
      grid-area: 7 / 1 / 8 / 2;
    }

    div.pressure {
      grid-area: 8 / 1 / 9 / 2;
    }
  }
}
